.lmj-footer {
	color: black;
	padding: 32px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
	box-shadow: 0px 0px green, 0 0 1em olive;
}

.lmj-footer-elem {
	margin-bottom: 10px;
}